<launch>
    <node pkg="nodelet" type="nodelet" name="test_nodelet"  args="manager" output="screen"/>

    <!-- Pointcloud2-->
    <node pkg="nodelet" type="nodelet" name="pointcloud_transformer2" args="load pointcloud_transformer/pointcloudTransformer test_nodelet" output="screen">
        <param name="to_frame" value="output_frame"/>
        <remap from="~input_pcl2" to="/pointcloud_topic"/>
    </node>
</launch>
